/*Created 2015-06-12 by RKS*/

.content_container{
    max-width: 1140px;
    margin: 0 auto;
}

.header{
    border-bottom:1px solid #ccc;
}

.footer{
    background: #f2f2f2;
    height: 265px;
}

#stc_menu{
    padding: 0;    
}

.stc_nav>li{ 
    border-right:1px solid #ccc;
}

.stc_nav li:last-child{
    border-right:0px;
}

.stc_navbar{
    border: none;
    margin-bottom: 0px;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: #fff;
    color:#ccc;
}

.menu_link{
    color:#000;
}
.menu_home{
    padding-left:0px !important;
    color: #F15F5C;
    letter-spacing: 2;
}

.menu_search{
    padding-right:0px !important;
}