/*Created 2015-06-12 by RKS*/

.content_container{
    max-width: 1140px;
    margin: 0 auto;
}

.nav>li>a:focus, .nav>li>a:hover{
    background: #fff;
}

.stc_nav:first-child{
    padding-left:0px;
}

.stc_nav:last-child{
    padding-right:0px;
}